.card {
  margin: 20px;
  background-color: white;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 18px 20px;
  max-width: 350px;
  height: 500px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card_content {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; */
  padding-top: 18px;
}

.image {
  max-width: 300px;
  margin: 0 auto;
  border-radius: 6px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
  /* object-fit: cover; */
}

.features {
  display: flex;
  justify-content: center;
  align-items: center;
}

.features * {
  margin: 3px;
}

.price {
  /* display: inline-block; */
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
  padding: 1rem 2rem;
  margin: 15px 0;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.filter:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.vr {
  margin: 0 25px;
  border-right: 2px solid #d0d6e0;
  height: 60px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 8px;
}

.section * {
  margin: 4px;
}

.section input {
  border: 0;
  border-bottom: 2px solid #d0d6e0;
  padding: 0.4rem;
  font-size: 16px;
}

.section select {
  border: 0;
  background-color: white;
  font-size: 16px;
  cursor: pointer;
  border-bottom: 2px solid #d0d6e0;
  padding: 0.4rem;
}
