
.btn_primary {
    padding: 8px 12px;
    width: 80px;
    margin: 0 10px;
    background-color: #8d5cff;
    color: white;
    border-radius: 8px;
    border: 2px solid whitesmoke;
}

.btn_secondary {
    padding: 8px 12px;
    width: 80px;
    margin: 0 10px;
    background-color: white;
    color: #8d5cff;
    border-radius: 8px;
    border: 1px solid #d1cdd9;
}